<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/proyectos.css">
    <title>Ez-neakers</title>
</head>
<body>
    <header class="header">
        <div class="contenedor">
            <a href="index.html"><img src="../video/logo.png" alt="logo de la empresa" class="logo"></a>
            <span class="icon-menu" id="btn-menu"></span>
            <nav class="nav" id="nav">
                <ul class="menu">
                    <li class="menu__item">
                    <a  class="menu__link" href="#"><br>1</a>
                    </li>
                    <li class="menu__item">
                    <a  class="menu__link" href="#"><br>2</a>
                    </li>
                    <li class="menu__item">
                    <a  class="menu__link" href="#"><br>3</a>
                    </li>
                    <li class="menu__item">
                    <a  class="menu__link" href="#"><br>4</a>
                    </li>
                    <li class="menu__item">
                    <a  class="menu__link" href="#"><br>5</a>
                    </li>
                    <li class="menu__item">
                    <a  class="menu__link" href="#"><br>6</a>
                    </li>
                 </ul>   
            </nav>
        </div>
     </header>
    
</body>
</html>