
/*--------------INICIO-------------------*/

html{
    box-sizing: border-box;
    background-image: url(../img/Fondo.jpg);
    display:fixed;
}
*,*:before,*:after {
    box-sizing: inherit;
}
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif; 
    background-image: url(../img/home-cta-bg.jpg);
}
.logo{
    width: 80px;
    height: 80px;
}
.contenedor{
    width: 100%;
	margin: auto;
 
}




/*---------Estilos del Header--------------*/

nav.navbar {
  background-color: black;
  width: 100%;
  height: 80px;
  justify-content: space-around;
}

.separator {
  background-color: red;
  width: 100%;
  height: 3px;
}



/*------Estilos del Main --------------*/

/*---Estilo General ---*/
.main{
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
}

/*---Carousel ---*/

#carouselExampleIndicators {
  margin-top: 20px;
}

.carousel-item img{
  height: 450px;
  margin: auto;
}

.carousel-control-next,
.carousel-control-prev{
    filter: invert(100%);
    width: 150px;
    
}

.carousel-indicators{
  color: aqua;
}
.carousel-indicators li{
  width:10px;
  height:10px;
  border-radius: 50%;
  filter: invert(100%);
  
}

/*---Mayores Ventas ---*/

#top_ventas h4{
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
}

/*--- Zapatillas Top ---*/

#zapatillasTop {
  justify-content: space-around;
}

#card_zapatillasTop {
  width: 13.5rem; 
  border-color: #EFEFEF;
  border-width: 2px;
}

#card_zapatillasTop p{
  font-weight: bold;
  font-size:  24px;
  padding: auto;
}

/*---Marcas Principales ---*/

#marcas h4{
  font-weight: bold; margin-top: 40px;
}

#marcasPrincipales{
  justify-content: space-around;
}

#marcasPrincipales_card{
  width: 18rem;
  border-color: #EFEFEF;
  border-width: 2px;
}

#marcasPrincipales_card img{
  display: block;
  margin: auto;
}

/*---Estilo General Modal ---*/


#creacuenta{
  font-weight:bold;
  font-size: 36px;
  
}

#cabeceramain{
  margin-top: 40px;
  margin-bottom: 40px;
}

#passwordHelpBlock{
  font-weight: 300;
}

.form_datosPersonales h4{
  font-size: 20px;
  font-weight: 700;
} 

#datain{
  font-size: 14px;
  font-weight: 600;

}

#checks{
  margin-top: 10px;
}

.form-elegant .font-small {
  font-size: 0.8rem; }

.form-elegant .z-depth-1a {
  -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
  box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
  box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

.form-elegant .modal-header {
  border-bottom: none; }

.modal-dialog .form-elegant .btn .fab {
  color: #2196f3!important; }

.form-elegant .modal-body, .form-elegant .modal-footer {
  font-weight: 400; }






/*----------------Footer------------------ */

.footer{
  background-color:black;
  justify-content: flex-end;
  color: #fff;
  text-align: center;
  font-size: 14px;
  
}
.footer img{
  width: 40px;
  margin-right: 25px;
}

.social{
  padding-top: 20px;
  padding-bottom: 20px;
}

.copy{
  font-weight: bold;
  padding-bottom: 20px;
}


/*---------Estilos Responsive-------------*/

@media(min-width:480px){
    .main img{
      max-width: 90%;
    }
    .contenedor {
        font-size: 64px;
    }
    .contenedor{
        font-size: 35px;   
    }
	
    .contenedor{
        display: flex;
		    justify-content:space-between;
    }
    
    .contenedor{  
     display: flex; 
     flex-wrap: wrap;
     justify-content:space-around;
    }
     h3{
        font-size: 30px;
    }
    .minibanner {
        position: relative;
        display:flex;
    }
}







@media(min-width:1024px){
  .nav {
    position: static;
    width: auto;
  }
  .menu {
    display: flex;
  }
  .icon-menu {
    display: none;
  }
	.menu__link{
		border: none;
	}
    .banner .contenedor .banner__titulo{
        font-size: 50px;  
    }
     .banner .contenedor .banner__txt{
        font-size: 36px; 
    }
    .contenedor{
        width:1000px;
    }
   
}
@media(min-width:1280px){
    .contenedor{
        width: 1200px;
    }
    .contenedor {
        font-size: 90px; 
		
    }
    .contenedor {
        font-size: 46px; 
    }
	
	
}



